.password-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .password-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .password-role {
    font-family: $anevir-ff;
    font-size: 1rem;
    color: $darkColor;
  }

  .password-description {
    max-width: 70%;
    font-family: $anevir-ff;
    font-size: 0.75rem;
    color: $darkGrayColor;
  }

  .password-value {
    &__label {
      font-family: $anevir-ff;

      font-size: 0.875rem;
      color: $darkGrayColor;
    }

    &__text {
      font-family: $anevir-ff;
      font-size: 1rem;
      font-weight: 500;
      color: $darkColor;
    }
  }
}
