.form-field {
  width: 100%;
  padding: $input-padding-y $input-padding-x;

  background-color: transparent;
  border: 1px solid #cbcbcb;
  border-radius: 12px;

  @include inputValue;

  ::placeholder {
    @include inputPlaceholder;
  }
}
