@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-bold.eot');
  src: url('./avenirnextcyr-bold.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-bold.woff2') format('woff2'),
    url('./avenirnextcyr-bold.woff') format('woff'),
    url('./avenirnextcyr-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-bolditalic.eot');
  src: url('./avenirnextcyr-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-bolditalic.woff2') format('woff2'),
    url('./avenirnextcyr-bolditalic.woff') format('woff'),
    url('./avenirnextcyr-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-demi.eot');
  src: url('./avenirnextcyr-demi.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-demi.woff2') format('woff2'),
    url('./avenirnextcyr-demi.woff') format('woff'),
    url('./avenirnextcyr-demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-demiitalic.eot');
  src: url('./avenirnextcyr-demiitalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-demiitalic.woff2') format('woff2'),
    url('./avenirnextcyr-demiitalic.woff') format('woff'),
    url('./avenirnextcyr-demiitalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-heavy.eot');
  src: url('./avenirnextcyr-heavy.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-heavy.woff2') format('woff2'),
    url('./avenirnextcyr-heavy.woff') format('woff'),
    url('./avenirnextcyr-heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-heavyitalic.eot');
  src: url('./avenirnextcyr-heavyitalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-heavyitalic.woff2') format('woff2'),
    url('./avenirnextcyr-heavyitalic.woff') format('woff'),
    url('./avenirnextcyr-heavyitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-italic.eot');
  src: url('./avenirnextcyr-italic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-italic.woff2') format('woff2'),
    url('./avenirnextcyr-italic.woff') format('woff'),
    url('./avenirnextcyr-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-light.eot');
  src: url('./avenirnextcyr-light.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-light.woff2') format('woff2'),
    url('./avenirnextcyr-light.woff') format('woff'),
    url('./avenirnextcyr-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-lightitalic.eot');
  src: url('./avenirnextcyr-lightitalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-lightitalic.woff2') format('woff2'),
    url('./avenirnextcyr-lightitalic.woff') format('woff'),
    url('./avenirnextcyr-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-medium.eot');
  src: url('./avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-medium.woff2') format('woff2'),
    url('./avenirnextcyr-medium.woff') format('woff'),
    url('./avenirnextcyr-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-mediumitalic.eot');
  src: url('./avenirnextcyr-mediumitalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-mediumitalic.woff2') format('woff2'),
    url('./avenirnextcyr-mediumitalic.woff') format('woff'),
    url('./avenirnextcyr-mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-regular.eot');
  src: url('./avenirnextcyr-regular.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-regular.woff2') format('woff2'),
    url('./avenirnextcyr-regular.woff') format('woff'),
    url('./avenirnextcyr-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-thin.eot');
  src: url('./avenirnextcyr-thin.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-thin.woff2') format('woff2'),
    url('./avenirnextcyr-thin.woff') format('woff'),
    url('./avenirnextcyr-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-thinitalic.eot');
  src: url('./avenirnextcyr-thinitalic.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-thinitalic.woff2') format('woff2'),
    url('./avenirnextcyr-thinitalic.woff') format('woff'),
    url('./avenirnextcyr-thinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-ultralight.eot');
  src: url('./avenirnextcyr-ultralight.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-ultralight.woff2') format('woff2'),
    url('./avenirnextcyr-ultralight.woff') format('woff'),
    url('./avenirnextcyr-ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./avenirnextcyr-ultralightit.eot');
  src: url('./avenirnextcyr-ultralightit.eot?#iefix') format('embedded-opentype'),
    url('./avenirnextcyr-ultralightit.woff2') format('woff2'),
    url('./avenirnextcyr-ultralightit.woff') format('woff'),
    url('./avenirnextcyr-ultralightit.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
