.guests-empty-list {
  width: 100%;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 12px;

  &__title {
    font-family: $anevir-ff;
    font-size: 1.2rem;
    font-weight: 400;
    color: $darkColor;
  }

  &__link {
    font-family: $button-ff;
    font-size: $button-fz;
    font-weight: $button-fw;
    color: $successColor;
    text-transform: uppercase;
    text-decoration: none;
  }
}
