.tabs {
  &-pills {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  &-pill {
    position: relative;

    font-family: $anevir-ff;
    font-size: $fz-filter-tab-title;
    font-weight: 600;
    color: $darkGrayColor;
    text-transform: uppercase;

    padding-bottom: 12px;
    cursor: pointer;

    transition: color 0.5s ease;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      bottom: 4px;

      width: 0;
      height: 2px;

      background-color: $darkColor;

      transition: width 0.5s ease;
    }

    &--active {
      color: $darkColor;
      &::before {
        width: 100%;
        right: 0;
      }
    }

    &:hover {
      color: $darkColor;
      &::before {
        width: 100%;
        right: 0;
      }
    }
  }
}
