header {
    display: flex;
    align-items: center;
  }
  
  
  /* Grid styles -------------------------------------------------*/
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  @media (max-width: 960px) {
    .cards {
      display: grid;
      grid-gap: 10px;
      grid-row-gap:10px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
   }

   @media (max-width: 600px) {
    .cards {
      display: grid;
      grid-gap: 5px;
      grid-row-gap:5px;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
   }

   .cards-related {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  @media (max-width: 960px) {
    .cards-related {
      display: grid;
      grid-gap: 10px;
      grid-row-gap:10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
   }

   @media (max-width: 600px) {
    .cards-related {
      display: grid;
      grid-gap: 5px;
      grid-row-gap:5px;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
   }
  
  
  
  /* Generic styles ----------------------------------------------*/
  body {
    font-family: 'Nunito', sans-serif;
      background: rgba(245, 245, 245, 1);
  }
  
  header {
    max-width: 960px;
    margin: 0 auto 20px;
    font-size: 2em;
    color: white;
    background-color: #333;
  }
  
  header-title {
     position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
      font-size: 20px;
      color: #222;
  }
  
  .welcome {
    max-width: 960px;
    margin: 0 auto 20px;
    padding-bottom:10px;
  }

  @media (max-width: 700px) {
    .wallpaper {
       padding: 0;
     }
   }

  .wallpaper {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom:10px;
  }
  
  .welcome-title {
    position: relative;
    bottom: 0;
    margin: 0 auto 10px;
    padding-top: 50px;
    font-family: 'Lora';
      padding-bottom:20px;
      padding-left:10px;
      padding-right:10px;
      font-size: 25px;
      font-weight: 900;
      color: #222;
  }
  .welcome-description {
    position: relative;
    bottom: 0;
    margin: 0 auto 10px;
    padding-top: 10px;
      padding-bottom:10px;
      padding-left:10px;
      padding-right:10px;
      font-size: 14px;
      font-weight: 300;
      color: #222
  }
  
  .logo {
    height: 50px;
    margin-right: 20px;
  }
  
  .cards {
    max-width: 960px;
    margin: 0 auto 20px;
  }

  .cards-related {
    max-width: 800px;
    margin: 0 auto 20px;
  }
  
  article {
    position: relative;
      background-color: rgba(255, 255, 255, 1);
      padding:10px;
  }
  
  .article-img {
    height: auto;
    width: 100%;
    object-fit: fill;
  }
  
  .article-title {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
      font-size: 20px;
      color: #222;
  }
  .article-description {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
      padding-bottom:10px;
      font-size: 14px;
      font-weight: 300;
      color: #777
  }

  @media (max-width: 500px) {
    .article-title {
      font-size: 16px;
    }
    .article-description {
      font-size: 12px;
    }
   }
  
  .article-button {
      display: inline-block;
          font-size: .875em;
          padding: .5em .625em;
          margin-top: .875rem;
          margin-right: .625rem;
          cursor: pointer;
          border-radius: 4px;
  }
  
  .purchase-button{
              color: #ffffff;
          background: #4cda64;
  }
  
  .mark-button{
              color: rgba(145, 145, 145, 1);
          background: rgba(235, 235, 235, 1);
  }
  
  .purchased-button{
              color: #ffffff;
          background: #E91E63;
  }

  .contact-info {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13pt;
    padding-top: 15pt;
    font-family: 'Commissioner';
  }
 
