.scroll-x-area {
  position: relative;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;

    flex-wrap: nowrap;
    column-gap: 0.75rem;

    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 10;

    width: 24px;
    height: 24px;

    background-color: $white;
    border-radius: 50%;

    box-shadow: $event-timer-shadow;

    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;

    &:hover {
      background-color: $accentColor;
      svg {
        path {
          fill: $white;
        }
      }
    }

    svg {
      width: 10px;

      path {
        transition: fill 0.25s ease;
      }
    }

    &.hidden {
      transform: scale(0);
    }
  }

  .scroll-left {
    left: -12px;
  }

  .scroll-right {
    right: -12px;
  }
}
