// Event Timer
$fz-event-timer-value: 1rem;
$fz-event-timer-value-label: 0.8rem;

// Sidebar menu
$fz-menu-group-title: 1.33333rem; //20px
$fz-menu-item: 1rem;

// Progress Bar
$fz-progressbar-title: 1rem;
$fz-progressbar-value: 1rem;
$fz-progressbar-label: 0.8rem;

// Page filter tabs
$fz-filter-tab-title: 1rem;

// Hide/show button
$fz-hideshow-button: 0.8rem;

// Resource
$fz-list-group-title: 1.33333rem; //20px
$fz-list-group-date: 0.8rem;

// Card
$fz-card-title: 1rem;
$fz-card-subtitle: 0.8rem;

// Input Field
$fz-form-field-label: 0.8rem;
$fz-form-field: 1rem;

// Modal
$fz-modal-title: 1rem;
