@import "fonts";
@import "variables";
@import "mixins";

// ---------------------------
// Components
// ---------------------------

@import "../components/index.scss";

// ---------------------------
// Modules
// ---------------------------

@import "../modules/index.scss";

// ---------------------------
// Libraries
// ---------------------------
@import "~react-toastify/dist/ReactToastify.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: $lightGrayColor;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  // @see https://github.com/nolimits4web/swiper/issues/3599
  min-height: 0;
  min-width: 0;
}
