@import "fonts";
@import "variables";
@import "mixins";

// ---------------------------
// Libraries
// ---------------------------
@import "~react-toastify/dist/ReactToastify.css";
@import "~swiper/css/navigation";

// ---------------------------
// Components
// ---------------------------

@import "../components/index.scss";

// ---------------------------
// Modules
// ---------------------------

@import "../modules/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: $mainBackgroundColor;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;

  min-height: 0;
  min-width: 0;
}
