.purchase-category-card__link {
  text-decoration: none;
}

.purchase-category-card {
  width: 15vw;
  height: 100%;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 $purchase-category-card-padding-x;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 14px;

  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(#000, 15%);
  }

  &__title {
    font-family: $anevir-ff;
    font-size: 1.125rem;
    font-weight: 500;
    color: #fff;
  }
}

.purchase-categories-list {
  .list-title {
    margin-bottom: 2%;
  }

  .slider {
    max-height: 50vh;
  }

  .slider-slide {
    max-width: 15vw;

    @include mobile {
      max-width: 40vw;
    }
  }
}

.recommented-product-list {
  width: 100%;
  overflow-x: scroll;

  display: flex;
  column-gap: 12px;
}
