.login-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    position: absolute;
    top: 0;
    left: 0;

    padding: 24px;

    .back-button {
      display: flex;
      align-content: inherit;
      column-gap: 4px;

      font-family: $anevir-ff;
      font-weight: 500;
      color: $darkColor;
      font-size: 14px;

      cursor: pointer;

      img {
        width: 18px;
      }
    }
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .login-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin-bottom: 8px;
    }

    &-subtitle {
      max-width: 80%;
      margin-bottom: 16px;
      text-align: center;
    }
  }

  .logo {
    width: 80px;
    object-fit: cover;
    margin-bottom: 5%;
  }
}
