.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;

    padding: $box-padding-y $box-padding-x;

    min-width: 30vw;
    max-width: 100vw;
    max-height: 100vh;

    border-radius: $base-br;
    box-shadow: $box-shadow;
    overflow-y: auto;

    @include mobile {
      min-width: 100vw;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-text {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__description {
    @include modalDescription;
  }

  &__title {
    @include modalTitle;

    max-width: 80%;
  }

  &__close {
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__header &__close:before {
    content: "\2715";
    font-size: 18px;
    color: $accentColor;
  }

  &__content {
    margin-top: 2rem;

    max-height: 70vh;
    overflow-y: auto;

    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $lightGrayColor;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: lighten($darkGrayColor, 20%);
      border-radius: 4px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 12px;

    margin-top: 2rem;
  }

  .dialog__content {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
