.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  border-radius: 8px;

  padding: 8px;

  transition: background-color 0.5s ease;
  cursor: pointer;

  svg {
    path {
      transition: fill 0.5s ease;
    }
  }
}

.icon-button.filled.white {
  background-color: #fff;
  border: 1px solid $iconButtonBorderColor;
}

.icon-button.filled.primary {
  &:hover {
    background-color: $accentColor;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.icon-button.error {
  &:hover {
    background-color: $errorColor;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.icon-button.success {
  &:hover {
    background-color: $successColor;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.icon-button.outline {
  background-color: transparent;
}

.icon-button.md {
  svg {
    width: 28px;
    height: 28px;
    path {
      transition: fill 0.5s ease;
    }
  }

  .loader,
  .loader:after {
    width: 14px;
    height: 14px;
    border-width: 1px;
  }
}

.icon-button.lg {
  svg {
    width: 18px;
    height: 18px;
    path {
      transition: fill 0.5s ease;
    }
  }

  .loader,
  .loader:after {
    width: 18px;
    height: 18px;
    border-width: 1px;
  }
}

.like-button {
  &.liked {
    will-change: transform;
    animation: like 400ms ease both;

    svg {
      path {
        animation: likeFill 400ms ease both;
      }
    }
  }
  svg {
    width: 18px;
    height: 18px;
    path {
      transition: all 0.25s ease;
    }
  }
  &:hover {
    svg {
      path {
        fill: $accentColor;
      }
    }
  }
}
