.colors {
  margin-bottom: 3%;
}

.colors-list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.5rem;

  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.colors-label {
  display: block;
  @include inputLabel;
  margin-bottom: 0.5rem;
}

.color-field {
  width: 140px;

  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  row-gap: 8px;
  flex: 0;

  background-color: $white;
  padding: 1rem;
  border-radius: 0.5rem;

  box-shadow: $box-shadow;

  cursor: pointer;

  &__label {
    @include inputLabel;
  }

  &__indicator {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}

.colors-actions {
  padding-top: 0.5rem;

  .button {
    height: 28px;
  }
}

.chrome-picker {
  box-shadow: none !important;
  border: 1px solid $lightGrayColor;
}
