.progress-card {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  margin-top: 24px;

  background-color: #fff;
  border-radius: $base-br;
  box-shadow: $task-progressbar-shadow;

  padding: $task-progress-padding-y $task-progress-padding-x;

  &__title {
    font-family: $anevir-ff;
    font-size: $fz-progressbar-title;
    font-weight: 500;
    color: $darkColor;
  }

  &__subtitle {
    font-family: $anevir-ff;
    font-size: 0.875rem;
    font-weight: 500;
    color: $darkGrayColor;
  }

  .progress-card__extra {
    width: 100%;

    padding-top: 16px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 10%;

    border-top: 1px solid rgba($darkGrayColor, 8%);

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 8px;

      &__amount {
        font-family: $anevir-ff;
        font-size: 1rem;
        font-weight: 500;
        color: $successColor;
      }

      &__label {
        font-family: $anevir-ff;
        font-size: 0.875rem;
        font-weight: 500;
        color: $darkGrayColor;
      }

      &__hint {
        font-family: $anevir-ff;
        font-size: 0.75rem;
        font-weight: 400;
        color: $darkGrayColor;
      }
    }
  }
}
