.product-filters {
  &__actions {
    display: flex;
    justify-content: center;

    margin-top: 18px;

    .button {
      width: 30%;
    }
  }
  &__container {
    padding: 16px 18px;
    background-color: #fff;
    border-radius: $base-br;
  }
}
