.event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  width: 100%;

  @include mobile {
    align-items: center;

    width: 100%;
    margin-top: 24px;
  }

  &__image {
    position: relative;

    border-radius: 12px;
    overflow: hidden;

    &:before {
      content: "";

      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-color: rgba($accentColor, 30%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.event-timer {
  width: 92%;

  position: absolute;
  bottom: -8%;
  left: 4%;

  padding: $event-timer-padding-y $event-timer-padding-x;
  background-color: #fff;
  border-radius: $event-timer-br;
  box-shadow: $event-timer-shadow;

  &__countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: $anevir-ff;
      color: $accentColor;

      &--value {
        font-size: 0.875rem;
        font-weight: 500;
      }
      &--title {
        font-size: 0.625rem;
        font-weight: 400;
      }
    }
  }
}
