.task-list {
  width: 100%;

  &__month {
    font-family: $recoleta-alt-ff;
    font-size: $fz-list-group-title;
    font-weight: 500;
    color: $darkColor;
    text-transform: capitalize;

    margin-bottom: 0.33333rem;
  }
  .expires {
    color: $errorColor;
  }

  &__group {
    margin-bottom: 16px;
    &-title {
      font-family: $anevir-ff;
      font-size: $fz-list-group-date;
      font-weight: 600;
      color: $darkColor;

      margin: 5px 0;
      text-transform: uppercase;
    }
  }
}

.toggle-visibility {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding-left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
