.home-page {
  .tasks-info {
    max-width: 55%;

    @include mobile {
      max-width: 100%;
    }

    @include desctopSM {
      max-width: 70%;
    }
  }
  .task-progress {
    margin-top: 2%;
  }
  .task-list {
    margin-top: 6%;
  }
  .tabs {
    margin-top: 4%;

    @include mobile {
      margin-top: 10%;
    }
  }
}
