.shopping-list {
  margin-top: 6%;
}

.manual-shopping-list {
  width: 100%;

  .empty-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 8% 0;

    &__title {
      font-family: $anevir-ff;
      font-weight: 400;
      font-size: 0.75rem;
      color: $darkGrayColor;
      text-align: center;
    }
  }
}

.manual-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .manual-list__link {
    display: flex;
    align-items: center;
    column-gap: 12px;

    font-family: $anevir-ff;
    font-weight: 400;
    font-size: 0.75rem;
    color: $darkColor;
    text-align: center;
    text-decoration: none;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.products-list {
  display: flex;
  column-gap: 14px;
}
