.app-menu {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  margin: 25% 0;

  &__group {
    border-bottom: 1px solid $menuGroupBorderColor;
  }

  &__title {
    @include menuTitle;
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: 8px;

    position: relative;

    border-radius: $menu-link-br;
    background-color: transparent;
    padding: $menu-item-padding-y 0;

    text-decoration: none;

    transition: background-color 0.5s ease, color 0.5s ease, padding-left 0.5s ease;

    @include menuLink;

    &.active {
      padding-left: $menu-item-padding-x;
      &:before {
        opacity: 1;
      }
    }

    &:before {
      content: '';

      position: absolute;
      bottom: 0;
      z-index: -1;
      left: -$sidebar-padding-y;

      width: calc(100% + ($sidebar-padding-y * 2));
      height: 100%;

      opacity: 0;
      background-color: $lightGrayColor;

      transition: opacity 0.5s ease;
    }

    &:hover {
      // background-color: $accentColor;
      padding-left: $menu-item-padding-x;
      // color: #fff;

      // svg {
      //   path {
      //     fill: #fff;
      //   }
      // }

      &:before {
        opacity: 1;
      }
    }

    svg {
      width: 32px;
      height: 32px;

      path {
        transition: fill 0.5s ease;
      }
    }
  }
}
